header,
footer {
  display: none;
}

body {
  color: white;
  height: 100%;
  width: 100%;
}

html {
  background: url(/images/mobile/background-pre-mobile-.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-img {
  display: flex;
  background-image: url(/images/mobile/immortal-mobile-new.jpg);
  position: absolute;
  width: 100%;
  height: 808px;
  background-repeat: no-repeat;
  margin: auto;
  position: absolute;
  z-index: -1;
  background-position: 50%;
  background-size: cover;
}

.breadcrumbs {
  font-size: 1rem;
  display: none;
}

h1 {
  color: white;
  padding-top: 5rem;
  line-height: 1.2;
  margin: 0;
  font-size: 2.4rem;
  text-align: center;
}

.immortal {
  color: #dc859c;
}

.group-buttons {
  margin-top: 40rem;
  text-align: center;
}

@media only screen and (min-width: 492px) {
  .header-img {
    background-image: url(/images/backgrounds/immortal-medium-new.jpg);
  }
}
