html {
  height: 100%;
  width: 100%;
}

header {
  display: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "intro"
    "platformsfilter"
    "gallerygames"
    "filtersyellow"
    "aside";
}

/* GRID */
.intro {
  grid-area: intro;
  justify-content: center;
}

.platformsfilter {
  grid-area: platformsfilter;
}

.gallerygames {
  grid-area: gallerygames;
}

.filtersyellow {
  grid-area: filtersyellow;
}

aside {
  grid-area: aside;
}

/* FILTER SIDE */

h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.gamename {
  text-align: center;
}

h3 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.filter-platform {
  display: flex;
  color: black;
  font-weight: bold;
}

.games-gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
}

.gallery-home-top {
  width: 160px;
  height: 220px;
  margin: 4px;
  position: relative;
  display: inline-block;
}

figcaption,
.price {
  display: none;
}

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: white;
  text-decoration: none;
}

.platform {
  border: thin rgb(252, 160, 39);
  width: 80px;
  height: 20px;
  background-color: rgb(252, 160, 39);
  text-align: center;
}

.filter-platform li {
  display: inline-flex;
}

.filter-platform {
  justify-content: center;
}

.containers {
  flex: 0;
  margin: 0.5rem;
}

.box {
  width: 80px;
  height: 70px;
  border: rgb(252, 160, 39) 1px solid;
  text-align: center;
}

.filter-container {
  line-height: 1.5;
  font-weight: normal;
}

.nintendo-gamepad {
  margin-top: 33%;
  width: 3rem;
}

.pc-mouse {
  margin-top: 25%;
  width: 1.3rem;
}

.xbox-gamepad {
  margin-top: 25%;
  width: 3rem;
}

.ps-gamepad {
  margin-top: 25%;
  width: 3rem;
}

.sort {
  color: white;
  display: inline-flex;
  align-content: space-around;
}
/* game-list left*/
/* filter right-side*/

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: white;
  text-decoration: none;
}

.filter-container {
  max-width: 145px;
}

ul.filter-list {
  padding: 0;
}

.background {
  background-image: url(/images/backgrounds/background-shop.jpg);
  background-repeat: no-repeat;
  background-position: left 50% bottom 18%;
  background-size: cover;
  width: 100%;
  color: white;
  overflow: hidden;
}

aside {
  width: 100%;
}

h2 {
  background-color: rgb(252, 160, 39);
  color: black;
  width: 100%;
}
/* FILTER SIDE */

.filtersyellow {
  width: 16.5rem;
  display: none;
  color: white;
}

figcaption {
  display: none;
}

figure {
  margin: 0.5rem;
}

/* ------------------------------------ */

@media only screen and (max-width: 360px) {
  .grid {
    grid-template-columns: repeat(1, lfr);
    grid-template-areas:
      "intro"
      "gallerygames"
      "aside";
  }
  .platformsfilter {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, lfr);
    grid-template-areas:
      "intro platformsfilter"
      "gallerygames gallerygames"
      "aside aside aside";
  }

  .games-gallery {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .gallery-home-top {
    width: 162px;
    height: 240px;
    margin: 4px;
  }
}

@media only screen and (min-width: 801px) {
  .grid {
    grid-template-columns: repeat(3, lfr);
    grid-template-areas:
      "intro intro platformsfilter"
      "gallerygames gallerygames gallerygames"
      "aside aside aside";
  }
  .intro {
    text-align: left;
    padding-top: 3rem;
    font-size: 4rem;
    padding-left: 2rem;
  }

  .filter-platform {
    flex-flow: row wrap;
    height: 300px;
    width: 280px;
    align-items: center;
    padding-top: 2rem;
    align-content: space-evenly;
  }

  .games-gallery {
    max-width: 1290px;
  }

  .box {
    width: 100px;
    height: 90px;
  }

  .platform {
    width: 100px;
    height: 20px;
  }

  .platform {
    align-items: center;
  }
}

@media only screen and (min-width: 815px) {
  .grid {
    grid-template-columns: repeat(4, lfr);
    grid-template-areas:
      "intro intro platformsfilter platformsfilter"
      "gallerygames gallerygames gallerygames filtersyellow"
      "aside aside aside aside";
  }

  .filter-platform {
    flex-flow: wrap;
    width: 500px;
    text-align: right;
  }
  .intro {
    font-size: 5rem;
  }
  .filtersyellow {
    display: initial;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1120px) {
  .intro {
    padding-top: 4rem;
  }
}

/*
.box {
  width: 116px;
  height: 104px;
  border: rgb(252, 160, 39) 1px solid;
  text-align: center;
}

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: space-between;
  padding-top: 11rem; 
  
  h1 {
  color: white;
  margin: 0;
  font-size: 5rem;
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  background-color: thistle;
}

.games-gallery {
  display: inline-flex;
  flex-wrap: wrap;
  flex-basis: 240px;
  align-content: left;
  grid-column: 1 / 4;
  grid-row: 3;
  justify-content: space-between;
}

.filter-platform {
  display: flex;
  color: black;
  font-weight: bold;
  grid-column-start: 3;
  grid-row: 1;
}

.filter-platform li {
  padding: 1.5rem;
  grid-column: 4;
  grid-row: 3;
  display: inline-flex;
}
.platform {
  border: thin rgb(252, 160, 39);
  width: 116px;
  height: 20px;
  background-color: rgb(252, 160, 39);
  text-align: center;
  grid-column: 2 / 2;
  grid-row: 2 / span 2;
}

.filter-container {
  line-height: 1.5;
  font-weight: normal;
  background-color: thistle;
  grid-column-end: -1;
}

.box {
  width: 116px;
  height: 104px;
  border: rgb(252, 160, 39) 1px solid;
  text-align: center;
  grid-column-end: -1;
}

.games-gallery {
  display: inline-flex;
  flex-wrap: wrap;
  flex-basis: 240px;
  align-content: left;
  justify-content: space-between;
}

.gallery-home-top {
  width: 240px;
  height: 340px;
}

*/
