.create-account-form {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
}

.form-input {
  display: block;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.404);
  padding: 2px 30px;
  margin: 10px;
  opacity: 60%;
  text-align: center;
}

legend {
  position: absolute;
  top: 16rem;
}

.headline {
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2.9rem;
  font-size: 24px;
}

.headline-register {
  padding-left: 4.4rem;
}

.fieldset-column {
  margin-top: 25px;
}

.create {
  background-color: #2f97c6;
  border-style: none;
  height: 542px;
  color: white;
  flex: 0;
  padding: 4rem;
  margin: 8rem 1rem;
}

.register {
  background-color: #a5358b;
  border-style: none;
  color: white;
  flex: 0;
  padding: 4rem;
  margin: 8rem 0;
}

.create-account {
  background-image: url(/images/backgrounds/background-registerpages.jpg);
  height: 946px;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  padding-top: 12rem;
  padding-bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.agreement a {
  color: rgb(252, 160, 39);
  font-style: italic;
  font-size: 0.8rem;
}

.agreement {
  font-size: 0.8rem;
}

.checkbox {
  padding-top: 2rem;
  text-align: left;
  padding-left: 1rem;
}

button {
  margin-top: 2rem;
}

/*
checkbox:checked {
  padding-top: 2rem;
  color: rgb(252, 160, 39);
} */
