body,
html {
  color: white;
  scroll-behavior: smooth;
}

html {
  background: url(/images/backgrounds/home-background.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-img {
  display: flex;
  background: url(/images/mobile/heading-mobile.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 580px;
  background-position: 50%;
  margin-top: 0;
  position: absolute;
  z-index: -1;
}

.direct-link {
  display: none;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(252, 160, 39);
}

h2 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.intro-text {
  padding-top: 3rem;
  text-align: center;
}

.section-intro {
  max-width: 20rem;
  margin: auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button,
.purple {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* ICONS IN HEADER-IMAGE */

.slogan {
  max-width: 300px;
  display: inline-flex;
  padding: 0 0 1rem 0;
  margin: 1.2rem 0 0 0;
  justify-content: center;
}

.icons {
  padding: 0;
  margin: 1rem;
}

.slogan img {
  height: 2rem;
  margin: 0.5rem;
}

.sell-guide {
  max-width: 600px;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 0;
}


/* GALLERY ONE */

.heading-overview {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: auto;
  max-width: 980px;
  display: none;
}

.direct-link {
  color: rgb(252, 160, 39);
  text-decoration: none;
  cursor: pointer;
}

.games-display-one {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: auto;
  justify-content: center;
  margin-top: 6rem;
}

.gallery-top {
  width: 150px;
  height: 205px;
}

.game1,
.game2,
.game3,
.game4 {
  flex: 1;
  padding: 5px;
  margin: 12px;
  max-width: 150px;
  margin-top: 0;
  padding-top: 0;
  cursor: pointer;
}

.text-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  line-height: 1.4;
}

.game-name {
  text-decoration: none;
  color: white;
}

.price {
  color: black;
  background-color: rgb(252, 160, 39);
  height: 25px;
  width: 90px;
  text-align: center;
  line-height: 1.8;
}

figcaption {
  font-weight: 500;
}

.game-text,
.price,
.game-name,
.support-display {
  display: none;
}

/* TO SHOP */

.browse-container {
  background-color: rgba(13, 69, 118, 0.579);
  display: flex;
  width: 100%;
  margin: auto;
  cursor: pointer;
  height: 340px;
}

.font-to-shop {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 20rem;
}

.to-shop {
  margin-top: 3rem;
  margin: auto;
  max-width: 90%;
}

.container-button {
  position: relative;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
}

.browse {
  position: absolute;
  bottom: 70%;
}

.browse-wide {
  display: none;
}

.photo-to-shop {
  max-width: 16rem;
}

/*  GALLERY TWO  */

.games-display-two {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: -1rem;
}

.display-two {
  max-width: 980px;
  margin: auto;
}

.release-game1 {
  display: none;
}

.release-game1,
.release-game2,
.release-game3 {
  padding: 5px;
  margin: 12px;
  margin-top: 0;
  padding-top: 0;
  cursor: pointer;
  flex: 0;
}

.release-game2,
.release-game3 {
  max-width: 150px;
}

h3 {
  margin-top: 1rem;
}

.new-rel-wrap {
  padding: 10px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.game.text {
  display: none;
}

.gallery-bottom {
  width: 150px;
  height: 205px;
}

.overwatch {
  height: 205px;
  max-width: 330px;
}

/* SUPPORT MOBILE */

.support {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: auto;
  justify-content: center;
  margin-top: -1rem;
}

.container {
  width: 150px;
  height: 205px;
  background-color: rgba(0, 0, 0, 0.387);
  padding: 5px;
  margin: 12px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2rem;
}

.sell-buy {
  margin-top: 2rem;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  line-height: 3;
}

.font {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
}

/* SUPPORT SCREEN */

.support-display {
  position: relative;
  display: block;
  height: 520px;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: none;
}

.support-img {
  display: flex;
  max-height: 520px;
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: absolute;
  align-items: left;
  top: 12%;
  left: 8%;
}

.buttons h3 {
  margin: 0;
  padding: 0;
}

.suprt-btn {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 30px;
}

.support-sell {
  display: block;
  height: 520px;
  left: 12%;
  color: rgb(252, 160, 39);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8rem;
}

/* BETA */

.span-beta {
  display: none;
}

.openbeta-img {
  display: flex;
  max-width: 100%;
  margin: auto;
}
.openbeta {
  margin: auto;
}

.beta-btn {
  display: none;
}

.access {
  background-color: rgba(238, 153, 6, 0.654);
  height: 55px;
  font-size: 1.7rem;
  line-height: 2;
}

/* ILLUSTRATION BOTTOM */

.illustration {
  display: flex;
  width: 100%;
  padding: 0;
  object-fit: contain;
}

.bottom-to-shop,
.btn {
  display: none;
}

@media only screen and (min-width: 454px) {
  .header-img {
    height: 500px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .games-display-one {
    max-width: 500px;
  }

  /*  TO SHOP  */

  .font-to-shop {
    max-width: 14rem;
    margin-right: 1.5rem;
    text-align: left;
    padding-left: 30px;
  }

  .browse-container :nth-child(1) {
    order: 2;
  }

  .browse-container {
    margin-top: 1rem;
  }

  .to-shop {
    display: flex;
    margin: auto, 0;
    align-items: center;
    justify-content: center;
  }

  .photo-to-shop {
    max-width: 20rem;
  }

  .tracedphoto {
    margin: 0;
    padding: 0;
  }

  /*  GALLERY TWO  */

  .release-game1 {
    display: initial;
  }

  .gallery-bottom {
    width: 210px;
    height: 300px;
  }

  .overwatch {
    height: 260px;
    max-width: 500px;
  }
  .release-game2,
  .release-game3 {
    max-width: 300px;
  }

  /* SUPPORT MOBILE */

  .container {
    width: 210px;
    height: 300px;
  }

  .sell-buy {
    margin-top: 3.2rem;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 3;
  }

  .font {
    font-size: 2.5rem;
    line-height: 1;
    max-width: 13rem;
    margin: auto;
  }

  /* BETA */

  .beta {
    background-color: rgba(192, 201, 201, 0.36);
    height: 350px;
    display: flex;
    margin-top: 2rem;
  }

  .openbeta {
    position: relative;
    width: 100%;
    height: auto;
  }

  .openbeta-img {
    display: block;
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .beta-btn-container {
    border: lightcoral solid thin;
    height: 300px;
    margin-top: -15rem;
  }

  .access {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    right: 3%;
    font-size: 2.8rem;
    text-align: right;
    width: 250px;
    line-height: normal;
    border: red solid thin;
  }
}
@media only screen and (min-width: 839px) {
  .header-img {
    background: url(/images/backgrounds/headerdragons.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 800px;
    background-position: 50%;
    position: absolute;
  }
  .section-intro {
    max-width: 36rem;
  }

  .intro-text {
    padding-top: 3rem;
    text-align: center;
    margin: auto;
  }

  .purple {
    display: none;
  }

  .button-top {
    margin-top: 5rem;
  }

 .slogan {
   margin-top: 5rem;
 }

  h1 {
    margin-top: 4rem;
  }

  h2 {
    font-size: 5.6rem;
    line-height: 5.5rem;
    margin: auto;
  }

  .container {
    max-width: 90%;
    margin: auto;
  }

  /* GALLERY ONE */

  .games-display-one {
    max-width: none;
  }

  .heading-overview {
    display: flex;
    padding: 0 0.7rem;
    margin-top: 12rem;
  }

  .game-text,
  .direct-link,
  .price,
  .game-name {
    display: initial;
  }

  .games-display-one {
    margin-top: 0;
    text-align: left;
  }

  .gallery-top {
    width: 230px;
    height: 320px;
  }

  .game1,
  .game2,
  .game3,
  .game4 {
    flex: 0;
    margin: 0.2rem;
    max-width: none;
  }

  /*  TO SHOP  */

  .browse {
    display: none;
  }

  .browse-container {
    background-color: rgba(13, 69, 118, 0);
    margin-top: 4rem;
  }

  .container-button {
    position: relative;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
  }

  .photo-to-shop {
    max-width: 38rem;
  }

  .browse-shop {
    display: flex;
    flex-direction: column-reverse;
  }

  .browse-wide {
    display: initial;
  }

  /*  GALLERY TWO  */

  .display-two, .game-text {
    display: block;
    padding-right: 10px;
  }

  .display-two .game-text {
    display: block;
    padding-left: 10px;
  }

  .games-display-two {
    margin-top: 0;
    flex-wrap: nowrap;
    text-align: left;
    max-width: 70%;
  }
  .release-game1,
  .release-game2,
  .release-game3 {
    flex: 0;
    padding: 0;
    margin: 0 auto;
  }

  .gallery-bottom {
    width: 235px;
    height: 315px;
    padding: 10px;
  }

  .overwatch {
    height: 315px;
    max-width: 600px;
    padding: 10px;
  }

  .release {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 0rem;
  }

  /* SUPPORT  */

  .support {
    display: none;
  }

  .support-display {
    display: block;
  }

  /* BETA */

  .beta {
    background-color: rgba(192, 201, 201, 0);
  }

  .beta-btn-container {
    display: flex;
    position: relative;
    height: 100px;
    width: 90%;
    position: relative;
  }

  .openbeta-img {
    display: flex;
    max-width: 100%;
    height: 520px;
    margin: auto;
  }
  .beta {
    margin-top: 10rem;
  }
  .beta-btn-container {
    height: 200px;
    width: 100%;
  }

  .beta-btn {
    display: initial;
    top: -9rem;
    right: 18%;
  }

  .access {
    text-align: right;
    line-height: 1.5;
  }
}


@media only screen and (min-width: 1500px) {
  .header-img {
    background: url(/images/backgrounds/heading-bigsize.jpg);
    background-position: 50%;
  }

  .games-display-two {
    margin-top: 0;
    text-align: left;
    max-width: 70%;
  }

  .span-beta {
    display: initial;
  }
  .beta-btn {
    display: initial;
    top: -4rem;
    right: 25%;
  }

  .access {
    right: 25%;
  }

  /* SUPPORT SCREEN */

  .support-sell {
    width: 49%;
    left: 25%;
  }
  .buttons {
    left: 26%;
    width: 13%;
  }
}
