.intro-text {
  max-height: 972px;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.sell-icons {
  margin-top: 5rem;
}

.test-font-size {
  font-size: 5.6rem;
}

.slogan li {
  display: inline-block;
  margin: 1.5rem;
  padding-right: 1.5rem;
}

/* Under header */

.game-name {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.home-games {
  display: flex;
  flex-wrap: wrap;
  border: forestgreen solid;
  justify-content: center;
  clear: both;
}
.gallery-home-top {
  width: 243px;
  height: 315px;
}

.game1 {
  flex: 0;
  padding: 0;
}

.game2 {
  flex: 0;
  padding: 0;
}

.game3 {
  flex: 0;
  padding: 0;
}

.game4 {
  flex: 0;
  padding: 0;
}

.openbeta {
  text-align: center;
  position: relative;
}

.openbeta-button {
  position: absolute;
  margin: 0;
  top: 60%;
  left: 74%;
}

.earlyaccess {
  position: absolute;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: right;
  transform: translate(-50%, -50%);
  margin: 0;
  top: 45%;
  left: 69%;
  color: white;
}

.release-game1 {
  flex: 0;
  padding: 0;
}

.release-game2 {
  flex: 0;
  padding: 0;
}

.release-game3 {
  flex: 0;
  padding: 0;
}

.gallery-home-bottom {
  width: 235px;
  height: 315px;
}

.overwatch {
  height: 315px;
  width: 545px;
}

.to-shop {
  text-align: center;
  float: left;
  margin-top: 12rem;
  margin-left: 15rem;
  margin-bottom: 10rem;
}

.font-to-shop {
  font-size: 20px;
  line-height: 1.5;
}

.traced-photo {
  float: right;
  margin-right: 10%;
  max-width: 700px;
}

.heading-overview {
  padding-left: 11.4rem;
  font-size: 16px;
  margin: 0;
  clear: both;
}

/* Add to stylesheet if ok */

.nav-logo {
  max-height: 90px;
  align-items: center;
}

.nav-left {
  float: left;
  padding-top: 1.5rem;
}

.nav-right {
  float: right;
  padding-top: 1.5rem;
}
.illustration {
  width: 100%;
  position: relative;
}
