.background {
  background-image: url(/images/backgrounds/register-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50% bottom 18%;
  height: 800px;
  width: 100%;
  color: white;
  text-align: center;
}

.far {
  color: rgb(252, 160, 39);
}

h1,
legend {
  color: white;
  padding-bottom: 0.4rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  text-transform: initial;
  margin: auto;
}

.login-form {
  padding-top: 1rem;
  display: inline-block;
  margin: auto;
}

fieldset {
  border-style: none;
  line-height: 2;
  margin: auto;
}

label {
  font-size: 0.8rem;
  font-weight: lighter;
  display: none;
}

.form-input {
  display: block;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.404);
  padding: 2px 30px;
  margin: 1rem;
  opacity: 80%;
  width: 20rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
}

.link {
  color: rgb(252, 160, 39);
  font-style: italic;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  text-decoration: none;
  display: block;
}

.button {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.new-customer {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.box {
  background: rgb(252, 160, 39);
  width: 340px;
  height: 11rem;
  margin: auto 0;
  text-align: left;
}

.create {
  width: 20rem;
  margin-top: 1rem;
}

.box ul {
  padding-top: 1rem;
  color: black;
  line-height: 2;
  list-style-type: initial;
  margin-left: 2rem;
}

.dragon {
  background-image: url(/images/elements/small-dragon.png);
  height: 170px;
  width: 170px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 2rem auto 0 auto;
}

@media only screen and (min-width: 650px) {

  .box {
    width: 27rem;
  }

  .img-container {
    position: relative;
    height: 200px;
    width: 460px;
    margin: auto;
    margin-top: -12rem;
  }

  .dragon {
    position: absolute;
    bottom: 28%;
    right: 0;
  }
}