html {
  background: url(/images/backgrounds/background-shop.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  padding: 2rem;
}

.grid {
  padding-top: 1rem;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "intro"
    "platformsfilter"
    "gallerygames"
    "filtersyellow"
    "aside";
}

/* GRID */

.intro {
  grid-area: intro;
}

.platformsfilter {
  grid-area: platformsfilter;
}

.gallerygames {
  grid-area: gallerygames;
}

.filtersyellow {
  grid-area: filtersyellow;
}

h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}

h3 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.filter-platform {
  display: flex;
  color: black;
  font-weight: bold;
}

.containers {
  flex: 0;
  margin: 0.2rem;
}

/* GALLERY */

.games-gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  text-align: center;
  align-content: center;
}

.shop-gallery {
  width: 150px;
  height: 205px;
  margin: 2px;
  position: relative;
  display: inline-block;
}

.shop-gallery:hover {
  border: rgba(6, 5, 5, 0) solid thin;
}

.game1,
.game2,
.game3,
.game4 {
  flex: 1;
  padding: 5px;
  margin: 12px;
  max-width: 152px;
  margin-top: 0;
  padding-top: 0;
  cursor: pointer;
}

.game-name {
  font-size: 1rem;
}

figcaption {
  color: white;
  display: none;
}

.price {
  color: black;
  background-color: rgb(252, 160, 39);
  height: 25px;
  width: 90px;
  text-align: center;
  line-height: 1;
  display: none;
}

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: white;
  text-decoration: none;
}

.platform {
  border: thin rgb(252, 160, 39);
  width: 80px;
  height: 20px;
  background-color: rgb(252, 160, 39);
  text-align: center;
}

.filter-platform li {
  display: inline-flex;
}

.filter-platform {
  justify-content: center;
}

.box {
  width: 80px;
  height: 70px;
  border: rgb(252, 160, 39) 1px solid;
  text-align: center;
}

.filter-container {
  line-height: 1.5;
  font-weight: normal;
}

.nintendo-gamepad {
  margin-top: 33%;
  width: 3rem;
}

.pc-mouse {
  margin-top: 25%;
  width: 1.3rem;
}

.xbox-gamepad {
  margin-top: 30%;
  width: 3rem;
}

.ps-gamepad {
  margin-top: 30%;
  width: 3rem;
}

.sort {
  text-align: center;
  font-size: 1rem;
  color: white;
}

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: white;
  text-decoration: none;
}

.filter-container {
  max-width: 145px;
}

ul.filter-list {
  padding: 0;
}

h2 {
  background-color: rgb(252, 160, 39);
  color: black;
  width: 100%;
}

.filtersyellow {
  width: 16.5rem;
  display: none;
  color: white;
}

figure {
  margin: 0.5rem;
}

/* ------------------------------------ */

@media only screen and (max-width: 360px) {
  .grid {
    grid-template-columns: repeat(1, lfr);
    grid-template-areas:
      "intro"
      "gallerygames"
      "aside";
  }
  .platformsfilter {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, lfr);
    grid-template-areas:
      "intro platformsfilter"
      "gallerygames gallerygames"
      "aside aside aside";
  }
  .games-gallery {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 800px;
    padding-left: 2rem;
  }
  .gallery-home-top {
    width: 162px;
    height: 240px;
    margin: 4px;
  }
  .intro {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(3, lfr);
    grid-template-areas:
      "intro intro platformsfilter"
      "gallerygames gallerygames gallerygames"
      "aside aside aside";
  }
  .intro {
    text-align: left;
    padding-top: 5rem;
    font-size: 4rem;
    padding-left: 2rem;
  }

  .filter-platform {
    flex-flow: row wrap;
    height: 300px;
    width: 280px;
    padding-top: 2rem;
    align-content: space-evenly;
  }

  .games-gallery {
    max-width: 1300px;
  }

  .box {
    width: 100px;
    height: 90px;
  }

  .platform {
    width: 100px;
    height: 20px;
  }

  .platform {
    align-items: center;
  }
  .sort {
    text-align: left;
    padding-left: 3rem;
  }

  .game1, .game2, .game3, .game4 {
  max-width: none;
}
}

@media only screen and (min-width: 1060px) {
  .grid {
    grid-template-columns: repeat(4, lfr);
    grid-template-areas:
      "intro intro platformsfilter platformsfilter"
      "gallerygames gallerygames gallerygames filtersyellow"
      "aside aside aside aside";
  }

  .games-gallery {
    text-align: left;
  }

  .filter-platform {
    width: 500px;
  }
  .intro {
    font-size: 5rem;
  }
  .filtersyellow {
    display: initial;
  }

  figcaption {
    display: initial;
  }

  .gameprice {
    max-width: 170px;
    text-align: left;
    line-height: 1.5;
  }

  .price {
    display: block;
    padding-top: 5px;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .intro {
    padding-top: 4rem;
  }
  .containers {
    flex: 1;
    margin: 0.2rem;
  }
  .box {
    width: 116px;
    height: 104px;
  }
  .platform {
    width: 116px;
  }
  .shop-gallery {
    width: 220px;
    height: 310px;
  }
  .games-gallery {
    max-width: 2000px;
  }

  .gameprice {
    max-width: 220px;
  }
}
