/* TRBL */

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
  height: 5rem;
  width: 100%;
  z-index: 1;
  text-align: center;
}

nav li {
  display: inline-block;
  color: #ffffff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
}
nav a:hover {
  color: rgb(252, 160, 39);
}

p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Any button over which the user's pointer is hovering */
button:hover {
  color: rgb(187, 126, 19);
}
.active {
  color: rgb(252, 160, 39);
  text-decoration: underline;
}
h1,
h2 {
  text-transform: uppercase;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
}

.gamelink {
  text-decoration: none;
  color: black;
}

.game-name {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.price {
  font-weight: bold;
}

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: black;
  text-decoration: none;
}

.filter-container {
  max-width: 145px;
}

ul.filter-list {
  padding: 0;
}

.filter-platform > li {
  display: inline;
  padding: 1.5rem;
}

.prepurchase-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  border: forestgreen solid;
  justify-content: center;
}

figure {
  padding: 1rem;
  margin: 1rem;
}

.gallery {
  width: 235px;
  height: 315px;
}

.game1 {
  flex: 0;
  padding-right: 0;
  padding-left: 0;
}

.game2 {
  flex: 0;
  padding-right: 0;
  padding-left: 0;
}

.game3 {
  flex: 0;
  padding-right: 0;
  padding-left: 0;
}

.game4 {
  flex: 0;
  padding-right: 0;
  padding-left: 0;
}
