/* TRBL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
  height: 5rem;
  width: 100%;
  z-index: 1;
  text-align: center;
}

nav li {
  display: inline-block;
  color: #ffffff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 2rem;
}
nav a:hover {
  color: rgb(252, 160, 39);
}

p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Any button over which the user's pointer is hovering */
button:hover {
  color: rgb(187, 126, 19);
}
.active {
  color: rgb(252, 160, 39);
  text-decoration: underline;
}
h1,
h2 {
  text-transform: uppercase;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
}

.gamelink {
  text-decoration: none;
  color: black;
}

.game-name {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

figcaption {
  margin-top: -1rem;
}

.price {
  font-weight: bold;
}

.highlight:hover {
  background-color: rgb(252, 160, 39);
  text-decoration: none;
}

.highlight {
  list-style-type: none;
}

.highlight > a {
  color: black;
  text-decoration: none;
}

.filter-container {
  max-width: 145px;
}

ul.filter-list {
  padding: 0;
}

.filter-platform li {
  display: inline;
  padding: 1.5rem;
}

.home-games {
  display: flex;
  flex-wrap: wrap;
  border: forestgreen solid;
  justify-content: center;
  clear: both;
}

figure {
  padding: 0;
  margin: 1rem;
  border: dotted red;
}

.gallery-home-top {
  width: 243px;
  height: 315px;
}

.game1 {
  flex: 0;
  padding: 0;
}

.game2 {
  flex: 0;
  padding: 0;
}

.game3 {
  flex: 0;
  padding: 0;
}

.game4 {
  flex: 0;
  padding: 0;
}

.openbeta {
  text-align: center;
  position: relative;
}
.earlyaccess {
  position: absolute;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: right;
  transform: translate(-50%, -50%);
  margin: 0;
  top: 45%;
  left: 65%;
  color: white;
}

.release-game1 {
  flex: 0;
  padding: 0;
}

.release-game2 {
  flex: 0;
  padding: 0;
}

.release-game3 {
  flex: 0;
  padding: 0;
}

.gallery-home-bottom {
  width: 235px;
  height: 315px;
}

.overwatch {
  height: 315px;
  width: 545px;
}

.button-to-shop {
  border: double red;
}

.traced-photo {
  float: right;
  margin-right: 10%;
}
